<center class="center" style="width:100%">


<center style="overflow:hidden">
<table><tbody>
<tr>

<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto sales')" style="display:inline-block; width:35vw; cursor:pointer; border-radius:30% 30px 30% 30px" title="Sales"><center><h1 style="font-size:100px; text-shadow: 8px 8px #0000007F; color:#6F6">💲</h1></center></fieldset></marquee></center></td>

<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto employees')" style="display:inline-block; width:25vw; cursor:pointer" title="Employees"><center><h1 style="font-size:100px; text-shadow: 8px 8px #0000007F;  color:black">👥</h1></center></fieldset></marquee></center></td>

<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto settings')" style="display:inline-block; width:25vw; cursor:pointer; border-radius:50%" title="Settings"><center><h1 style="font-size:100px; text-shadow: 8px 8px #0000007F; color:#DDD">🔧</h1></center></fieldset></marquee></center></td>

</tr>
</tbody></table>
</center>

<marquee direction="up" behavior="slide" scrollamount="20">
<fieldset onclick="window.postMessage('goto inventory')" style="border-radius:30px; cursor:pointer"><center>
<img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3cwMmVhc3N0MGM0Nm16ZXUydnBicDN4MTV1Nnlvdnd2YTc2Nm41biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KAvYTVCw4cVRPR0CRp/giphy.gif" style="width:10vw">
<img src="https://i.giphy.com/l4FGoWJHCjSkntJKw.webp" style="width:10vw">
<img src="https://media.tenor.com/0vyb2x9bHzMAAAAM/v-letter-gif.gif" style="width:10vw">
<img src="https://cdn.dribbble.com/userupload/23752406/file/original-c36d20fe139d94d09e09229519de14f7.gif" style="width:10vw">
<img src="https://i.giphy.com/GAjl488ULjJfH8zcZG.webp" style="width:10vw">
<img src="https://lh4.googleusercontent.com/proxy/OkjIvkb-JqiOA264GHnn8167FqGMx7vXZm-lkB_VUk5AqHurZHi5MBaVXXAeLAKvu0rgHCqxNqQJJkbsYqa0W34H" style="width:10vw">
<img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHE0b20wbW83cG11aWNnNXpkamJtOWpzN2x3cG1wNzh4MDYyc3E5YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iFrwr2hH8p9sRSi91x/giphy.gif" style="width:10vw">
<img src="https://i.pinimg.com/originals/85/1d/ed/851ded6309d702eda7e5430e1b17db3f.gif" style="width:10vw">
<img src="https://lh5.googleusercontent.com/proxy/9nFCZW6CxtERqi9DdhpcadFeCz3Ser0O5vELN7KZZnbQc8mwY9vWYJ-3mGH8YxLflNU37E7zyCdbeAQXkZCk7Ua9YPCc" style="width:10vw">
</center></fieldset>
</marquee>


</center>
